.categories-dispay-section{
    margin-top: 20px;
}

img.pimage {
    width: 150px;
}


a.pa {
    display: inline-block;
    height: 160px;
}
    
.row.products .p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.title{
    font-size: small;
    /* text-align: center; */
}
.price{
    font-size: small;
    /* text-align: center; */
}

img.spi {
    width: 50%;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

.productPage{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    align-items: center;
}

/* .imageDisplayProductPage{
    margin-top: 100px;
} */

